@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  cursor: none;
}

html {
  scroll-behavior: initial;
}

html,
body {
  min-height: 120%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "neue-montreal";
  src: url("../fonts/NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "neue-montreal";
  src: url("../fonts/NeueMontreal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "neue-montreal";
  src: url("../fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "neue-montreal";
  src: url("../fonts/NeueMontreal-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .font-neue-montreal {
    font-family: "neue-montreal", sans-serif;
  }

  .backdrop-icon::before {
    content: "";
    left: -12px;
    top: -12px;
    z-index: -1;
    height: 72px;
    width: 72px;
    position: absolute;
    border-radius: 50%;
    scale: 1.5;
    transition: all 200ms ease-in;
  }
  .backdrop-icon:hover::before {
    scale: 1.7;
  }

  .blue::before {
    @apply bg-blue-400;
  }

  .red::before {
    @apply bg-red-400;
  }

  .gray::before {
    @apply bg-gray-400;
  }

  .project-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    /* background-color: pink; */
    background-color: #fbfcfd;
  }
  .container-small {
    width: 70%;
    margin-inline: auto;
  }
}

.backdrop-ic {
  @apply backdrop-icon;
}

#use-case {
  visibility: hidden;
  color: white;
  opacity: 0;
}
